################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/epizzahub/FileContentIndex
/.vs/epizzahub/v17
/.vs
